.settingsPopupOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.625); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settingsPopup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.settingsContent label {
  display: block;
  margin-bottom: 10px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .settingsPopup {
    background: #1e1e1e; /* Dark background */
    color: white; /* Light text color */
    box-shadow: 0 4px 8px
      rgba(255, 255, 255, 0.1); /* Softer shadow for dark mode */
  }

  .closeButton {
    color: white; /* Light button color */
  }

  .settingsContent label {
    color: white; /* Light label color */
  }

  .settingsContent select {
    background-color: #2e2e2e; /* Dark background */
    border: 1px solid #555; /* Darker border */
    color: rgb(0, 0, 0); /* Light text color */
  }

  .settingsContent select:focus {
    border-color: #66b2ff; /* Highlight border on focus for dark mode */
    background-color: #3a3a3a; /* Slightly lighter background on focus */
  }
}

.settingsContent select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.settingsContent select:focus {
  outline: none;
  border-color: #007bff; /* Highlight border on focus */
  background-color: #fff;
}

.settingsApply {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: all 0.3s ease;
}

.settingsApply:hover {
  background-color: white;
  color: green;
  border-color: green;
}

.colorSelector {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.colorSquare {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.cardbackSelector {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.cardbackImage {
  width: 60px;
  height: 90px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: border 0.2s;
}

.cardbackImage.selected {
  border: 3px solid #1890ff;
}

/* Dark mode tweaks for image selector */
@media (prefers-color-scheme: dark) {
  .cardbackImage {
    border: 2px solid #444;
  }

  .cardbackImage.selected {
    border: 3px solid #66b2ff;
  }
}
